@inherits PipelineCoordinatorViewBase

<h1>Pipelines</h1>
<button @onclick="AddPipeline">Add Pipeline</button>
<br />
<br />

@{
    if (Pipelines == null)
    {
        <p>Loading...</p>
    }
    else
    {

        if (Pipelines.Count() == 0)
        {
            <p>No pipelines found.</p>
        }

        foreach (Pipeline p in Pipelines)
        {
            <PipelineView PipelineID="p.ID" />
            <br />
        }
    }

}


