@inherits PipelineCoordinatorViewBase
@{
    if (Pipelines == null)
    {
        <p>Loading...</p>
    }
    else
    {

        if (Pipelines.Count() == 0)
        {
            <p>No pipelines found.</p>
        }

        foreach (Pipeline p in Pipelines)
        {
            <div class="pipeline-tile" style="padding: 0px;">
                <PipelineView PipelineID="p.ID"/>                
            </div>
        }
    }

}


